<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html class="home-container">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{{ title|default:"Crack this container" }}</title>
    <link rel="stylesheet" href="{% static 'css/patternfly.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/patternfly-additions.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {# <link rel="stylesheet" href="patternfly_bundle/bpo.css"> #}

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- PatternFly Custom Componets -  Sidebar, Popovers and Datatables Customizations -->
    <!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->
    <script src="{% static 'js/patternfly.min.js' %}"></script>

    <script src="{% static 'js/moment.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/ws4redis.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </head>

  <body>
    <div class="hidden">
      <div id="hidden-winner-button">
        <button class="btn btn-default btn-lg " type="button">TEXT</button>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <div id="game-control" class="center-block">
            <!--
            # TODO: activate via web socket
            -->
            {% if game.has_started %}
            <div id="timer">{{ game.timer }}</div>
            {% else %}
            <button class="btn btn-primary btn-lg">Start game</button>
            {% endif %}
          </div>
          <div id="game-description">
            tomastomecek/devconf2017-game
          </div>
          <h1>Winners</h1>
          <ul id="winners">
            {% for solution in solutions %}
            <li><button class="btn btn-default btn-lg " type="button">{{ solution.listing_text }}</button></li>
            {% endfor %}
          </ul>
          <div>
            <a href="{% url 'game-create' %}">Create game</a>
            <span id="solved-box"><span id="solved-count">{{ solutions_count }}</span> solvers</span>
          </div>
        </div>
    </div>
  </body>

</html>
